*{
    font-family: roboto;

}
#cabezera {
    font-family: roboto;
    background-color: black;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}
#logo {
    display: inline;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 15px;
    align-items: end;
    color: white;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#main-content {
    display: flex;
    background-color: #1f2937;
}
#hero{
    flex: 1;
    color: white;
    padding: 50px;
}
#main-content img {
    object-fit: cover;
    padding: 30px;
}
button {
    background-color: #3882f6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-content: center;
    padding: 10px 20px;
}
#second-content {
    display: flex;
    padding: 50px;
}
#services-title {
    text-align: center;
    font-size: 24px;
}
#second-content {
    text-align: center;
}
#three-content {
    background-color: #e5e7eb;
    padding: 70px;
    color: #1f2937;
    font-size: 36px;
    text-align: center;
}
#author {
    font-style: italic;
    margin-top: 50px;
    text-align: end;
}

#signin {
    background-color: white;
    align-items: end;
    font-family: roboto;
}


form {
    display: flex;
    gap: 15px;
    background-color: #3882f6;
    padding: 30px;
    border-radius: 10px;
}
form button {
    width: 20%;
    border: 5px solid #1f2937;
    border-width: 2px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 50px;
}